<ion-content>
    <div class="logo-div">
        <img src="./../../../assets/img/logo.PNG" alt="">
    </div>
    <ion-grid class="mt-4 px-3">
        <ion-row>
            <ion-col size='12' class="mb-4 start">
                <label class="input-label">Email<span class="red-star">*</span></label>
                <input type="email" id="email" class="input-with-icon" placeholder='Email'>
                <ion-icon name="mail-outline" class="input-icon-with-label"></ion-icon>
            </ion-col>
            <ion-col size='12' class="mb-4 start">
                <label class="input-label">Mot de passe<span class="red-star">*</span></label>
                <input type="password" id="password" class="input-with-icon" placeholder='Mot de passe'>
                <ion-icon name="lock-closed-outline" class="input-icon-with-label"></ion-icon>
            </ion-col>
            <ion-col size='12' class="mt-2 mb-4 center">
                <button class="app-btn-auth pointer" (click)="navigateTo('/auth/double-auth')">Connexion</button>
            </ion-col>
            <ion-col size='12' class="mb-4 around">
                <div class="center social-div facebook-div pointer">
                    <ion-icon name="logo-facebook"></ion-icon>
                </div>
                <div class="center social-div google-div pointer">
                    <ion-icon name="logo-google"></ion-icon>
                </div>
                <div class="center social-div linkedin-div pointer">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </div>
            </ion-col>
            <ion-col size='12' class="mb-4 center">
                <span class="register-text">Vous n'avez pas encore de compte ?</span>
                <span class="password-lost-text pointer" (click)="navigateTo('/auth/register')">Inscription</span>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- <div class="form-div">
        <div class="mb-5 center">
            <input type="email" id="email" class="input-with-icon" placeholder='Email'>
        </div>
        <div class="mb-5 end">
            <input type="password" id="password" class="input-with-icon" placeholder='Mot de passe'>
            <span class="password-lost-text pointer" (click)="navigateTo('/auth/password-lost')">Mot de passe oublié ?</span>
        </div>
        <div class="mbottom-2 center">
            <button class="app-btn-auth pointer" (click)="navigateTo('/auth/double-auth')">Connexion</button>
        </div>
        <div class="mbottom-2 around">
            <div class="center social-div facebook-div pointer">
                <ion-icon name="logo-facebook"></ion-icon>
            </div>
            <div class="center social-div google-div pointer">
                <ion-icon name="logo-google"></ion-icon>
            </div>
            <div class="center social-div linkedin-div pointer">
                <ion-icon name="logo-linkedin"></ion-icon>
            </div>
        </div>
        <div class="center">
            <span class="register-text">Vous n'avez pas encore de compte ?</span>
            <span class="password-lost-text pointer" (click)="navigateTo('/auth/register')">Inscription</span>
        </div>
    </div> -->
</ion-content>