<ion-content>
    <div class="logo-div">
        <img src="./../../../assets/img/logo.PNG" alt="">
    </div>
    <div class="form-div">
        <div class="mb-5 center">
            <input type="email" id="email" class="input-with-icon" placeholder='Email'>
        </div>
        <div class="mb-5 end">
            <input type="password" id="password" class="input-with-icon" placeholder='Mot de passe'>
            <span class="password-lost-text pointer" (click)="navigateTo('/auth/password-lost')">Mot de passe oublié ?</span>
        </div>
        <div class="mbottom-2 center">
            <button class="app-btn-auth pointer" (click)="navigateTo('/auth/double-auth')">Connexion</button>
        </div>
        <div class="mbottom-2 around">
            <div class="center social-div facebook-div pointer">
                <ion-icon name="logo-facebook"></ion-icon>
            </div>
            <div class="center social-div google-div pointer">
                <ion-icon name="logo-google"></ion-icon>
            </div>
            <div class="center social-div linkedin-div pointer">
                <ion-icon name="logo-linkedin"></ion-icon>
            </div>
        </div>
        <div class="center">
            <span class="register-text">Vous n'avez pas encore de compte ?</span>
            <span class="password-lost-text pointer" (click)="navigateTo('/auth/register')">Inscription</span>
        </div>
    </div>
</ion-content>