<ion-content class="background-div">
    <div class="background-div-rounded">
        <div class="avatar-profile">
        </div>
        <ion-grid>
            <ion-row>
                <ion-col size='12' class="center name-profile">
                    <p>Pierre Jacques</p>
                </ion-col>
                <ion-col size='12' class="center">
                    <p>pierrejacques@gmail.com</p>
                </ion-col>
                <ion-col size='12' class="center">
                    <p>51 Avenue de Paris, Paris, 75015</p>
                </ion-col>
                <ion-col size='12' class="center first-profile-card">
                    <div class="profile-card pointer" (click)="navigateTo('/tabs/user-info')">
                        <div class="icon-profile-card pointer" (click)="navigateTo('/tabs/user-info')">
                            <div class="icon-div center">
                                <ion-icon src="assets/icon/edit.svg" class="app-icon edit-icon"></ion-icon>
                            </div>
                        </div>
                        <div class="text-profile-card pointer" (click)="navigateTo('/tabs/user-info')">
                            <p class="main-text">Informations du compte</p>
                            <p class="sub-text hide-overflow">Données personnelles, photo de profil</p>
                        </div>
                    </div>
                </ion-col>
                <ion-col size='12' class="center">
                    <div class="profile-card pointer" (click)="navigateTo('/tabs/user-change-password')">
                        <div class="icon-profile-card pointer" (click)="navigateTo('/tabs/user-change-password')">
                            <div class="icon-div center">
                                <ion-icon name="lock-closed-outline" class="app-icon"></ion-icon>
                            </div>
                        </div>
                        <div class="text-profile-card pointer" (click)="navigateTo('/tabs/user-change-password')">
                            <p class="main-text">Informations de sécurité</p>
                            <p class="sub-text hide-overflow">Mot de passe, double authentification</p>
                        </div>
                    </div>
                </ion-col>
                <ion-col size='12' class="center">
                    <div class="profile-card pointer" (click)="navigateTo('/tabs/user-change-address')">
                        <div class="icon-profile-card pointer" (click)="navigateTo('/tabs/user-change-address')">
                            <div class="icon-div center">
                                <ion-icon src="assets/icon/place.svg" class="app-icon"></ion-icon>
                            </div>
                        </div>
                        <div class="text-profile-card pointer" (click)="navigateTo('/tabs/user-change-address')">
                            <p class="main-text">Informations de location</p>
                            <p class="sub-text hide-overflow">Mettre à jour votre adresse</p>
                        </div>
                    </div>
                </ion-col>
                <!-- <ion-col size='12' class="center">
                    <div class="profile-card pointer" (click)="navigateTo('/tabs/user-avatar')">
                        <div class="icon-profile-card pointer" (click)="navigateTo('/tabs/user-avatar')">
                            <div class="icon-div center">
                                <ion-icon name="image-outline" class="app-icon"></ion-icon>
                            </div>
                        </div>
                        <div class="text-profile-card pointer" (click)="navigateTo('/tabs/user-avatar')">
                            <p class="main-text"></p>
                            <p class="sub-text hide-overflow">Mettre à jour votre photo de profil</p>
                        </div>
                    </div>
                </ion-col> -->
                <ion-col size='12' class="center">
                    <div class="profile-card pointer" (click)="navigateTo('/tabs/tab2')">
                        <div class="icon-profile-card pointer" (click)="navigateTo('/tabs/tab2')">
                            <div class="icon-div center">
                                <ion-icon name="document-text-outline" class="app-icon"></ion-icon>
                            </div>
                        </div>
                        <div class="text-profile-card pointer" (click)="navigateTo('/tabs/tab2')">
                            <p class="main-text">Notes de frais</p>
                            <p class="sub-text hide-overflow">Visioner l'ensemble des notes</p>
                        </div>
                    </div>
                </ion-col>
                <ion-col size='12' class="center">
                    <div class="profile-card pointer" (click)="navigateTo('/auth/login')">
                        <div class="icon-profile-card pointer" (click)="navigateTo('/auth/login')">
                            <div class="icon-div center">
                                <ion-icon name="log-out-outline" class="app-icon"></ion-icon>
                            </div>
                        </div>
                        <div class="text-profile-card pointer" (click)="navigateTo('/auth/login')">
                            <p class="main-text">Déconnexion</p>
                            <p class="sub-text hide-overflow">Sortir de l'application</p>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>