.avatar-profile {
    width: 160px;
    height: 160px;
    position: absolute;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 3%;
    text-align: center;
    // border: 1px solid #00000040;
    box-shadow: 0px 3px 5px #00000030;
    background-image: url(./../../assets/img/avatar-icon.jpg);
    background-size: cover;
    background-position: center;
}

.name-profile {
    margin-top: 5.5rem;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-3);
}

p {
    margin: 0;
}

.profile-card {
    display: flex;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    border: 1px solid #00000040;
    box-shadow: 0px 3px 5px #00000010;
    margin-bottom: 5px;
}

.first-profile-card {
    margin-top: 15px;
}

.icon-profile-card {
    min-width: 64px;
    width: 64px;
    height: 58px;
    padding: 8px 15px;
}

.icon-div {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
}

.text-profile-card {
    width: -webkit-fill-available;
    margin: auto;
    .main-text {
        color: var(--color-3);
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 2px;
    }
    .sub-text {
        color: #00000070;
        font-size: 13px;
    }
}

.background-div-rounded ion-grid {
    padding: 0 5px;
}