<ion-content>
    <ion-grid class="header-div-snd">
        <ion-row>
            <ion-col size='3' class="start">
                <ion-icon name="chevron-back-outline" class="app-icon pointer" (click)="nagivateBack()"></ion-icon>
            </ion-col>
            <ion-col size='6'>
                <h2 class="header-title text-center hide-overflow">Notifications</h2>
            </ion-col>
            <ion-col size='3' class="end">
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-card class="notif-card">
        <div class="icon-notif-card">
            <div class="icon-div center">
                <ion-icon name="chatbox-outline" class="app-icon"></ion-icon>
            </div>
        </div>
        <div class="text-notif-card">
            <p class="main-text">Nouveau Message</p>
            <p class="sub-text hide-overflow">Vous avez reçu un message de la part de Pierre Jacques</p>
        </div>
    </ion-card>
</ion-content>