<ion-content class="background-div">
    <div class="background-div-rounded">
        <div class="back-arrow-absolute center">
            <ion-row class="w-100">
                <ion-col size='2' class="center">
                    <ion-icon name="chevron-back-outline" class="app-icon pointer" (click)="nagivateBack()"></ion-icon>
                </ion-col>
                <ion-col size='8'>
                    <h2 class="header-title text-center hide-overflow">Sécurité</h2>
                </ion-col>
                <ion-col size='2' class="end">
                </ion-col>
            </ion-row>
        </div>
        <div class="input-div-profile center">
            <ion-grid>
                <ion-row>
                    <ion-col size='12' class="start mb-2">
                        <label class="input-label">Confirmer le mot de passe</label>
                        <input type="password" id="oldPassword" class="input-with-icon" placeholder='Ancien mot de passe'>
                        <ion-icon name="lock-closed-outline" class="input-icon-with-label"></ion-icon>
                    </ion-col>
                    <ion-col size='12' class="start mb-2">
                        <label class="input-label">Mot de passe</label>
                        <input type="password" id="newPassword" class="input-with-icon" placeholder='Mot de passe'>
                        <ion-icon name="lock-closed-outline" class="input-icon-with-label"></ion-icon>
                    </ion-col>
                    <ion-col size='12' class="start mb-4">
                        <label class="input-label">Confirmer le mot de passe</label>
                        <input type="password" id="confirmPassword" class="input-with-icon" placeholder='Confirmer le mot de passe'>
                        <ion-icon name="lock-closed-outline" class="input-icon-with-label"></ion-icon>
                    </ion-col>
                    <ion-col size='8' class="start mb-4">
                        <label class="input-label toggle m-0">Connexion en 2 étapes</label>
                    </ion-col>
                    <ion-col size='4' class="end mb-4">
                        <ion-toggle></ion-toggle>
                    </ion-col>
                    <ion-col size='12' class="start mb-2">
                        <button class="app-btn pointer" (click)="navigateTo('/tabs/tab5')">Modifier</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>

<!-- <ion-col size='12' class="center mb-2 explain-text">
<p>Un petit text pour expliquer les différents paramètres de sécurité</p>
</ion-col>
<ion-col size='3' class="center mb-2">
<div class="separate-div"></div>
</ion-col>
<ion-col size='6' class="center mb-2">
<p class="separate-text">Mot de passe</p>
</ion-col>
<ion-col size='3' class="center mb-2">
<div class="separate-div"></div>
</ion-col> -->
<!-- <ion-col size='1' class="center mb-2 pe-0">
<div class="separate-div"></div>
</ion-col>
<ion-col size='10' class="center mb-2">
<p class="separate-text">Double authentification</p>
</ion-col>
<ion-col size='1' class="center mb-2 ps-0">
<div class="separate-div"></div>
</ion-col> -->