<ion-content>
    <ion-grid class="header-div">
        <ion-row>
            <ion-col size='8'>
                <h2 class="header-title">BUSINESS CLOUD</h2>
            </ion-col>
            <ion-col size='4' class="around">
                <ion-icon name="chatbox-outline" class="app-icon pointer"></ion-icon>
                <ion-icon name="notifications-outline" class="app-icon pointer"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col size='12'>
                <ion-item>
                    <ion-select placeholder="Rôle">
                        <ion-select-option value="1">Employé</ion-select-option>
                        <ion-select-option value="2">Client</ion-select-option>
                        <ion-select-option value="3">Prospect</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col size='12' class="center">
                <input type="text" class="input-with-icon" placeholder='Recherche'>
                <ion-icon name="search-outline" class="input-icon"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-content class="scroll-list">
        <ion-list>
            <ion-card class="app-card">
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size='3' class="center">
                                <div class="avatar-list">
                                </div>
                            </ion-col>
                            <ion-col size='7' class="start">
                                <h2 class="card-title hide-overflow">Jacques Pierre</h2>
                                <p class="card-text-date hide-overflow" style="margin-top:-8px;">Client</p>
                            </ion-col>
                            <ion-col size='2' class="center">
                                <div class="status-div-warning"></div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
            <ion-card class="app-card">
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size='3' class="center">
                                <div class="avatar-list">
                                </div>
                            </ion-col>
                            <ion-col size='7' class="start">
                                <h2 class="card-title hide-overflow">Jacques Pierre</h2>
                                <p class="card-text-date hide-overflow" style="margin-top:-8px;">Client</p>
                            </ion-col>
                            <ion-col size='2' class="center">
                                <div class="status-div-danger"></div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
            <ion-card class="app-card">
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size='3' class="center">
                                <div class="avatar-list">
                                </div>
                            </ion-col>
                            <ion-col size='7' class="start">
                                <h2 class="card-title hide-overflow">Jacques Pierre</h2>
                                <p class="card-text-date hide-overflow" style="margin-top:-8px;">Client</p>
                            </ion-col>
                            <ion-col size='2' class="center">
                                <div class="status-div-success"></div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
            <ion-card class="app-card">
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size='3' class="center">
                                <div class="avatar-list">
                                </div>
                            </ion-col>
                            <ion-col size='7' class="start">
                                <h2 class="card-title hide-overflow">Jacques Pierre</h2>
                                <p class="card-text-date hide-overflow" style="margin-top:-8px;">Client</p>
                            </ion-col>
                            <ion-col size='2' class="center">
                                <div class="status-div-success"></div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
            <ion-card class="app-card">
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size='3' class="center">
                                <div class="avatar-list">
                                </div>
                            </ion-col>
                            <ion-col size='7' class="start">
                                <h2 class="card-title hide-overflow">Jacques Pierre</h2>
                                <p class="card-text-date hide-overflow" style="margin-top:-8px;">Client</p>
                            </ion-col>
                            <ion-col size='2' class="center">
                                <div class="status-div-warning"></div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
            <ion-card class="app-card">
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size='3' class="center">
                                <div class="avatar-list">
                                </div>
                            </ion-col>
                            <ion-col size='7' class="start">
                                <h2 class="card-title hide-overflow">Jacques Pierre</h2>
                                <p class="card-text-date hide-overflow" style="margin-top:-8px;">Client</p>
                            </ion-col>
                            <ion-col size='2' class="center">
                                <div class="status-div-success"></div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-list>
    </ion-content>
</ion-content>