.scroll-list {
    height: 64vh;
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    ion-list {
        padding: 0;
    }
}

.avatar-list {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url(./../../assets/img/avatar-icon.jpg);
    background-size: cover;
    background-position: center;
}