.row {
    margin: 0;
}

.table {
    margin: 0;
    border-radius: 10px 10px 0 0;
    border: 1px solid #00000030;
    --offset-bottom: auto!important;
    --overflow: hidden;
    background: white;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    .table-cell {
        min-height: 40px;
        border-left: 1px solid #00000030;
        border-bottom: none;
        padding: 0.1rem;
        span {
            color: var(--color-3)
        }
    }
     :first-child {
        border-left: none;
    }
}

.articles-div {
    height: 15rem;
    border: 1px solid #00000030;
    border-top: none;
    border-radius: 0 0 10px 10px;
    --offset-bottom: auto!important;
    --overflow: hidden;
    background: white;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
     :last-child {
         ::ng-deep * .table-cell {
            border-bottom: none !important;
        }
    }
}