ion-icon {
    width: 25px;
    height: 25px;
}

ion-tab-bar {
    height: 62px;
    border-top: 1px solid #00000030;
    contain: none !important;
}

ion-tab-button {
    // background: var(--color-2);
    color: var(--color-3);
    font-size: 11px;
    font-weight: 600;
    --padding-end: 0;
    --padding-bottom: 0;
    --padding-start: 0;
}

ion-tab-button:hover {
    color: var(--color-2);
    ion-icon {
        color: var(--color-2);
    }
    ion-label {
        color: var(--color-2);
    }
}

::ng-deep .button-native {
    padding: 0 !important;
}

.tab-selected {
    color: var(--color-3);
}

.ml {
    margin-left: 0.4rem;
}

.mr {
    margin-right: 0.4rem;
}