<ion-grid>
    <ion-row>
        <ion-col size='3' class="center mb-2">
            <div class="separate-div"></div>
        </ion-col>
        <ion-col size='6' class="center mb-2">
            <p class="separate-text">Informations</p>
        </ion-col>
        <ion-col size='3' class="center mb-2">
            <div class="separate-div"></div>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label">Nom du client/entreprise<span class="red-star">*</span></label>
            <input type="text" id="name" class="input-with-icon" placeholder='Nom du client/entreprise'>
            <ion-icon name="person-outline" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label" for="client">Employé référent</label>
            <input type="text" id="employe" class="input-with-icon" placeholder='Employé référent'>
            <ion-icon name="person-outline" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label">Email<span class="red-star">*</span></label>
            <input type="email" id="email" class="input-with-icon" placeholder='Email'>
            <ion-icon name="mail-outline" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label">Téléphone<span class="red-star">*</span></label>
            <input type="tel" id="phone" class="input-with-icon" placeholder='Téléphone'>
            <ion-icon name="call-outline" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='12' class="mb-2 start">
            <label class="input-label">Activité</label>
            <input type="text" id="activity" class="input-with-icon" placeholder="Activité">
            <ion-icon name="information-circle-outline" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label" for="taxe">N° TVA</label>
            <input type="text" id="taxe" class="input-without-icon" placeholder="Taxe">
            <ion-icon src="/assets/icon/percentage.svg" class="input-icon-with-label percent-icon"></ion-icon>
        </ion-col>
        <ion-col size='12' class="mb-2 start">
            <label class="input-label">N° SIRET</label>
            <input type="text" id="siret" class="input-with-icon" placeholder="N° SIRET">
            <ion-icon name="information-circle-outline" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='12' class="mb-2 start">
            <label class="input-label">N° RCS</label>
            <input type="text" id="RCS" class="input-with-icon" placeholder="N° RCS">
            <ion-icon name="information-circle-outline" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label" for="currency">Devise<span class="red-star">*</span></label>
            <input type="text" id="currency" class="input-without-icon" placeholder="Devise">
            <ion-icon src="/assets/icon/money.svg" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label">Note</label>
            <textarea type="text" id="description" class="textarea-without-icon" placeholder='Note'></textarea>
        </ion-col>
        <ion-col size='4' class="center mb-2">
            <div class="separate-div"></div>
        </ion-col>
        <ion-col size='4' class="center mb-2">
            <p class="separate-text">Adresse</p>
        </ion-col>
        <ion-col size='4' class="center mb-2">
            <div class="separate-div"></div>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label">Adresse</label>
            <input type="text" id="address" class="input-with-icon" placeholder='Adresse'>
            <ion-icon src="assets/icon/place.svg" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label">Code postal</label>
            <input type="text" id="zip" class="input-with-icon" placeholder='Code postal'>
            <ion-icon name="map-outline" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label">Ville</label>
            <input type="text" id="city" class="input-with-icon" placeholder='Ville'>
            <ion-icon name="business-outline" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='12' class="start mb-4">
            <label class="input-label">Pays</label>
            <input type="text" id="country" class="input-with-icon" placeholder='Pays'>
            <ion-icon name="earth-outline" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <button class="app-btn pointer"><ion-icon name="add"></ion-icon>&nbsp;&nbsp;Créer un client</button>
        </ion-col>
    </ion-row>
</ion-grid>