<ion-content class="background-div">
    <div class="background-div-rounded">
        <div class="back-arrow-absolute center">
            <ion-row class="w-100">
                <ion-col size='2' class="center">
                    <ion-icon name="chevron-back-outline" class="app-icon pointer" (click)="nagivateBack()"></ion-icon>
                </ion-col>
                <ion-col size='8'>
                    <h2 class="header-title text-center hide-overflow">Facture</h2>
                </ion-col>
                <ion-col size='2' class="end">
                </ion-col>
            </ion-row>
        </div>
        <ion-grid>
            <ion-row>
                <ion-col size='2' class="center pb-4 pe-0">
                    <ion-icon src="assets/icon/edit.svg" class="app-icon edit-icon pointer"></ion-icon>
                </ion-col>
                <ion-col size='8' class="center bill-title">
                    <p>FAC1458697456</p>
                    <span class="badge status-green">Payée</span>
                </ion-col>
                <ion-col size='2' class="center pb-4 ps-0">
                    <ion-icon name="trash-outline" class="app-icon trash-icon"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col size='3' class="center mb-2">
                    <div class="separate-div"></div>
                </ion-col>
                <ion-col size='6' class="center mb-2">
                    <p class="separate-text">Informations</p>
                </ion-col>
                <ion-col size='3' class="center mb-2">
                    <div class="separate-div"></div>
                </ion-col>
                <ion-col size='12' class="start mb-2">
                    <label class="input-label">Client</label>
                    <input type="text" id="client" class="input-with-icon" placeholder='Client'>
                    <ion-icon name="person-outline" class="input-icon-with-label"></ion-icon>
                </ion-col>
                <ion-col size='12' class="start mb-2">
                    <label class="input-label">Email</label>
                    <input type="email" id="email" class="input-with-icon" placeholder='Email'>
                    <ion-icon name="mail-outline" class="input-icon-with-label"></ion-icon>
                </ion-col>
                <ion-col size='12' class="start mb-2">
                    <label class="input-label">Téléphone</label>
                    <input type="tel" id="phone" class="input-with-icon" placeholder='Téléphone'>
                    <ion-icon name="call-outline" class="input-icon-with-label"></ion-icon>
                </ion-col>
                <ion-col size='6' class="start mb-2">
                    <label class="input-label">Création</label>
                    <input type="date" id="dateC" class="input-without-icon" placeholder='Création'>
                    <ion-icon name="calendar-outline" class="input-icon-with-label"></ion-icon>
                </ion-col>
                <ion-col size='6' class="start mb-2">
                    <label class="input-label">Échéance</label>
                    <input type="date" id="dateE" class="input-without-icon" placeholder='Échéance'>
                    <ion-icon name="calendar-outline" class="input-icon-with-label"></ion-icon>
                </ion-col>
                <ion-col size='12' class="start mb-2">
                    <label class="input-label">Adresses de facturation</label>
                    <textarea type="text" id="billAddress" class="textarea-without-icon" placeholder="Adresses de facturation"></textarea>
                </ion-col>
                <ion-col size='4' class="center mb-2">
                    <div class="separate-div"></div>
                </ion-col>
                <ion-col size='4' class="center mb-2">
                    <p class="separate-text">Articles</p>
                </ion-col>
                <ion-col size='4' class="center mb-2">
                    <div class="separate-div"></div>
                </ion-col>
                <ion-col size='12' class="start mb-2">
                    <app-article-table class="w-100" [articles]="articles"></app-article-table>
                </ion-col>
                <ion-col size='8' class="start mb-2">
                    <label class="input-label">Nom article</label>
                    <input type="text" id="articleName" class="input-with-icon" placeholder='Nom article'>
                    <ion-icon name="cart-outline" class="input-icon-with-label"></ion-icon>
                </ion-col>
                <ion-col size='4' class="start mb-2">
                    <label class="input-label">Quantité</label>
                    <input type="text" id="quantity" class="input-without-icon" placeholder='Quantité'>
                </ion-col>
                <ion-col size='12' class="start mb-2">
                    <label class="input-label">Description</label>
                    <textarea type="text" id="description" class="textarea-without-icon" placeholder="Description de l'article"></textarea>
                </ion-col>
                <ion-col size='12' class="center mb-2">
                    <button class="app-btn pointer">Ajouter un article</button>
                </ion-col>
                <ion-col size='4' class="center mb-2">
                    <div class="separate-div"></div>
                </ion-col>
                <ion-col size='4' class="center mb-2">
                    <p class="separate-text">Actions</p>
                </ion-col>
                <ion-col size='4' class="center mb-2">
                    <div class="separate-div"></div>
                </ion-col>
                <ion-col size='6' class="center mb-2">
                    <button class="app-btn pointer">Relancer</button>
                </ion-col>
                <ion-col size='6' class="center mb-2">
                    <button class="app-btn pointer"><ion-icon name="cloud-download"></ion-icon>&nbsp;&nbsp;Télécharger</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>