.scroll-list {
    height: calc(100vh - 63px - 100px - 50px - 2rem);
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    ion-list {
        padding: 0;
    }
}

.calendar-icon {
    padding-bottom: 4px;
}