.scroll-list {
    height: 64vh;
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    ion-list {
        padding: 0;
    }
}

.calendar-icon {
    padding-bottom: 4px;
}