<ion-content>
    <app-header></app-header>
    <app-add-btn></app-add-btn>
    <ion-grid>
        <ion-row>
            <ion-col size='5'>
                <ion-item class="select-input">
                    <ion-select placeholder="Statut">
                        <ion-select-option value="1">Fini</ion-select-option>
                        <ion-select-option value="2">En cours</ion-select-option>
                        <ion-select-option value="3">Dépassé</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col size='5'>
                <ion-item class="select-input">
                    <ion-select placeholder="Try">
                        <ion-select-option value="1">Date de début</ion-select-option>
                        <ion-select-option value="2">Date de fin</ion-select-option>
                        <ion-select-option value="3">Revenus</ion-select-option>
                        <ion-select-option value="4">Temps total</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col size='2' class="center">
                <ion-icon name="calendar-outline" class="app-icon calendar-icon"></ion-icon>
            </ion-col>
            <ion-col size='12' class="center">
                <input type="text" class="input-with-icon" placeholder='Recherche'>
                <ion-icon name="search-outline" class="input-icon"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-content class="scroll-list">
        <ion-list>
            <ion-card class="app-card pointer" (click)="navigateTo('/tabs/show-project')">
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size='7'>
                                <h2 class="card-title hide-overflow">Projet Facebook</h2>
                                <p class="card-text-client hide-overflow">Jacques Pierre</p>
                                <p class="card-text-date hide-overflow">Fin: 06/12/2021</p>
                            </ion-col>
                            <ion-col size='3'>
                                <h2 class="card-title hide-overflow">&nbsp;</h2>
                                <p class="card-text-loss">-3,578 €</p>
                                <p class="card-text-time">355h</p>
                            </ion-col>
                            <ion-col size='2' class="center">
                                <div class="status-div-danger"></div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
            <ion-card class="app-card pointer" (click)="navigateTo('/tabs/show-project')">
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size='7'>
                                <h2 class="card-title hide-overflow">Projet Google</h2>
                                <p class="card-text-client hide-overflow">Jacques Pierre</p>
                                <p class="card-text-date hide-overflow">Fin: 06/12/2021</p>
                            </ion-col>
                            <ion-col size='3'>
                                <h2 class="card-title hide-overflow">&nbsp;</h2>
                                <p class="card-text-profit">3,578 €</p>
                                <p class="card-text-time">285h</p>
                            </ion-col>
                            <ion-col size='2' class="center">
                                <div class="status-div-warning"></div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
            <ion-card class="app-card pointer" (click)="navigateTo('/tabs/show-project')">
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size='7'>
                                <h2 class="card-title hide-overflow">Projet entreprise</h2>
                                <p class="card-text-client hide-overflow">Jacques Pierre</p>
                                <p class="card-text-date hide-overflow">Fin: 12/12/2021</p>
                            </ion-col>
                            <ion-col size='3'>
                                <h2 class="card-title hide-overflow">&nbsp;</h2>
                                <p class="card-text-profit">12,578 €</p>
                                <p class="card-text-time">465h</p>
                            </ion-col>
                            <ion-col size='2' class="center">
                                <div class="status-div-success"></div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
            <ion-card class="app-card pointer" (click)="navigateTo('/tabs/show-project')">
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size='7'>
                                <h2 class="card-title hide-overflow">Projet Facebook</h2>
                                <p class="card-text-client hide-overflow">Jacques Pierre</p>
                                <p class="card-text-date hide-overflow">Fin: 06/12/2021</p>
                            </ion-col>
                            <ion-col size='3'>
                                <h2 class="card-title hide-overflow">&nbsp;</h2>
                                <p class="card-text-loss">-3,578 €</p>
                                <p class="card-text-time">355h</p>
                            </ion-col>
                            <ion-col size='2' class="center">
                                <div class="status-div-danger"></div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
            <ion-card class="app-card pointer" (click)="navigateTo('/tabs/show-project')">
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size='7'>
                                <h2 class="card-title hide-overflow">Projet Google</h2>
                                <p class="card-text-client hide-overflow">Jacques Pierre</p>
                                <p class="card-text-date hide-overflow">Fin: 06/12/2021</p>
                            </ion-col>
                            <ion-col size='3'>
                                <h2 class="card-title hide-overflow">&nbsp;</h2>
                                <p class="card-text-profit">3,578 €</p>
                                <p class="card-text-time">285h</p>
                            </ion-col>
                            <ion-col size='2' class="center">
                                <div class="status-div-warning"></div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
            <ion-card class="app-card pointer" (click)="navigateTo('/tabs/show-project')">
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size='7'>
                                <h2 class="card-title hide-overflow">Projet entreprise</h2>
                                <p class="card-text-client hide-overflow">Jacques Pierre</p>
                                <p class="card-text-date hide-overflow">Fin: 12/12/2021</p>
                            </ion-col>
                            <ion-col size='3'>
                                <h2 class="card-title hide-overflow">&nbsp;</h2>
                                <p class="card-text-profit">12,578 €</p>
                                <p class="card-text-time">465h</p>
                            </ion-col>
                            <ion-col size='2' class="center">
                                <div class="status-div-success"></div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-list>
    </ion-content>
    <!-- <ion-infinite-scroll threshold="50px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
</ion-content>