.row {
    .table-cell {
        min-height: 40px;
        border-left: 1px solid #00000030;
        border-bottom: 1px solid #00000030;
        padding: 0.5rem;
        span {
            text-align: center;
        }
    }
     :first-child {
        border-left: none;
    }
}