.input-label {
    font-size: 17px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.stat-card {
    display: flex;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    border: 1px solid #00000040;
    box-shadow: 0px 3px 5px #00000010;
    margin-bottom: 5px;
}

.icon-stat-card {
    min-width: 59px;
    width: 59px;
    height: 59px;
    padding: 8px;
}

.icon-div {
    width: 100%;
    height: 100%;
    background: #DFE7F5;
    border-radius: 10px;
}

.text-stat-card {
    width: 14.9rem;
    margin: auto;
    .main-text {
        color: var(--color-3);
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 4px;
    }
    .sub-text {
        color: #00000070;
        font-size: 12px;
    }
}

#chart {
    height: 350px;
}

.app-card {
    margin: 5px;
    width: 100%;
}