<ion-content>
    <app-header></app-header>
    <!-- <app-add-btn></app-add-btn> -->
    <ion-grid>
        <ion-row>
            <ion-col size='8' class="start mb-2">
                <h2 class="header-title">Statistiques</h2>
            </ion-col>
            <ion-col size='4' class="around mb-2">
                <ion-icon name="" class="app-icon"></ion-icon>
                <ion-icon name="calendar-outline" class="app-icon"></ion-icon>
            </ion-col>
            <ion-col size='6' class="center">
                <div class="stat-card">
                    <div class="icon-stat-card">
                        <div class="icon-div center">
                            <ion-icon src="assets/icon/money.svg" class="app-icon"></ion-icon>
                        </div>
                    </div>
                    <div class="text-stat-card">
                        <p class="input-label">Revenus</p>
                        <p class="stat-green">357869 €</p>
                    </div>
                </div>
            </ion-col>
            <ion-col size='6' class="center">
                <div class="stat-card">
                    <div class="icon-stat-card">
                        <div class="icon-div center">
                            <ion-icon src="assets/icon/money.svg" class="app-icon"></ion-icon>
                        </div>
                    </div>
                    <div class="text-stat-card">
                        <p class="input-label">Dépenses</p>
                        <p class="stat-red">27845 €</p>
                    </div>
                </div>
            </ion-col>
            <ion-col size='12' class="center">
                <canvas #chart height="325"></canvas>
            </ion-col>
            <ion-col size='6' class="center">
                <div class="stat-card">
                    <div class="icon-stat-card">
                        <div class="icon-div center">
                            <ion-icon name="person-outline" class="app-icon"></ion-icon>
                        </div>
                    </div>
                    <div class="text-stat-card">
                        <p class="input-label">Employés</p>
                        <p class="stat-green">45</p>
                    </div>
                </div>
            </ion-col>
            <ion-col size='6' class="center">
                <div class="stat-card">
                    <div class="icon-stat-card">
                        <div class="icon-div center">
                            <ion-icon name="person-outline" class="app-icon"></ion-icon>
                        </div>
                    </div>
                    <div class="text-stat-card">
                        <p class="input-label">Clients</p>
                        <p class="stat-green">245</p>
                    </div>
                </div>
            </ion-col>
            <ion-col size='6' class="center">
                <div class="stat-card">
                    <div class="icon-stat-card">
                        <div class="icon-div center">
                            <ion-icon name="pie-chart-outline" class="app-icon"></ion-icon>
                        </div>
                    </div>
                    <div class="text-stat-card">
                        <p class="input-label">Projet</p>
                        <p class="stat-green">6</p>
                    </div>
                </div>
            </ion-col>
            <ion-col size='6' class="center">
                <div class="stat-card">
                    <div class="icon-stat-card">
                        <div class="icon-div center">
                            <ion-icon name="document-text-outline" class="app-icon"></ion-icon>
                        </div>
                    </div>
                    <div class="text-stat-card">
                        <p class="input-label">Impayés</p>
                        <p class="stat-red">48</p>
                    </div>
                </div>
            </ion-col>

            <ion-col size='12' class="start mt-2 mb-2">
                <h2 class="header-title">Factures impayés</h2>
            </ion-col>

            <ion-card class="app-card pointer" (click)="navigateTo('/tabs/show-bill')">
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size='7'>
                                <h2 class="card-title hide-overflow">FAC1458697456</h2>
                                <p class="card-text-client hide-overflow">Jacques Pierre</p>
                                <p class="card-text-date hide-overflow">Fin: 06/12/2021</p>
                            </ion-col>
                            <ion-col size='3'>
                                <h2 class="card-title hide-overflow">&nbsp;</h2>
                                <p class="card-text-rest">3,578 €</p>
                                <p class="card-text-time">&nbsp;</p>
                            </ion-col>
                            <ion-col size='2' class="center">
                                <div class="status-div-danger"></div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
            <ion-card class="app-card pointer" (click)="navigateTo('/tabs/show-bill')">
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size='7'>
                                <h2 class="card-title hide-overflow">FAC1458697456</h2>
                                <p class="card-text-client hide-overflow">Jacques Pierre</p>
                                <p class="card-text-date hide-overflow">Fin: 06/12/2021</p>
                            </ion-col>
                            <ion-col size='3'>
                                <h2 class="card-title hide-overflow">&nbsp;</h2>
                                <p class="card-text-rest">3,578 €</p>
                                <p class="card-text-time">&nbsp;</p>
                            </ion-col>
                            <ion-col size='2' class="center">
                                <div class="status-div-danger"></div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
            <ion-card class="app-card pointer" (click)="navigateTo('/tabs/show-bill')">
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size='7'>
                                <h2 class="card-title hide-overflow">FAC1458697456</h2>
                                <p class="card-text-client hide-overflow">Jacques Pierre</p>
                                <p class="card-text-date hide-overflow">Fin: 06/12/2021</p>
                            </ion-col>
                            <ion-col size='3'>
                                <h2 class="card-title hide-overflow">&nbsp;</h2>
                                <p class="card-text-rest">3,578 €</p>
                                <p class="card-text-time">&nbsp;</p>
                            </ion-col>
                            <ion-col size='2' class="center">
                                <div class="status-div-danger"></div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>

            <ion-col size='12' class="start mt-2 mb-2">
                <h2 class="header-title">Dates limites proches</h2>
            </ion-col>
            <ion-card class="app-card pointer" (click)="navigateTo('/tabs/show-bill')">
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size='7'>
                                <h2 class="card-title hide-overflow">FAC1458697456</h2>
                                <p class="card-text-client hide-overflow">Jacques Pierre</p>
                                <p class="card-text-date hide-overflow">Fin: 06/12/2021</p>
                            </ion-col>
                            <ion-col size='3'>
                                <h2 class="card-title hide-overflow">&nbsp;</h2>
                                <p class="card-text-rest">3,578 €</p>
                                <p class="card-text-time">&nbsp;</p>
                            </ion-col>
                            <ion-col size='2' class="center">
                                <div class="status-div-warning"></div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
            <ion-card class="app-card pointer" (click)="navigateTo('/tabs/show-bill')">
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size='7'>
                                <h2 class="card-title hide-overflow">FAC1458697456</h2>
                                <p class="card-text-client hide-overflow">Jacques Pierre</p>
                                <p class="card-text-date hide-overflow">Fin: 06/12/2021</p>
                            </ion-col>
                            <ion-col size='3'>
                                <h2 class="card-title hide-overflow">&nbsp;</h2>
                                <p class="card-text-rest">3,578 €</p>
                                <p class="card-text-time">&nbsp;</p>
                            </ion-col>
                            <ion-col size='2' class="center">
                                <div class="status-div-warning"></div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
            <ion-card class="app-card pointer" (click)="navigateTo('/tabs/show-bill')">
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size='7'>
                                <h2 class="card-title hide-overflow">FAC1458697456</h2>
                                <p class="card-text-client hide-overflow">Jacques Pierre</p>
                                <p class="card-text-date hide-overflow">Fin: 06/12/2021</p>
                            </ion-col>
                            <ion-col size='3'>
                                <h2 class="card-title hide-overflow">&nbsp;</h2>
                                <p class="card-text-rest">3,578 €</p>
                                <p class="card-text-time">&nbsp;</p>
                            </ion-col>
                            <ion-col size='2' class="center">
                                <div class="status-div-warning"></div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>