<ion-grid>
    <ion-row>
        <ion-col size='3' class="center mb-2">
            <div class="separate-div"></div>
        </ion-col>
        <ion-col size='6' class="center mb-2">
            <p class="separate-text">Informations</p>
        </ion-col>
        <ion-col size='3' class="center mb-2">
            <div class="separate-div"></div>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label">Montant<span class="red-star">*</span></label>
            <input type="text" id="price" class="input-with-icon" placeholder='Montant'>
            <ion-icon src="assets/icon/money.svg" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='9' class="start mb-2">
            <label class="input-label">Catégorie<span class="red-star">*</span></label>
            <ion-item class="select-input">
                <ion-select placeholder="Séléctionner une catégorie">
                    <ion-select-option value="3">Restaurant</ion-select-option>
                    <ion-select-option value="2">Déplacement</ion-select-option>
                    <ion-select-option value="1">Achats divers</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col size='3' class="start mb-2">
            <label class="input-label">&nbsp;</label>
            <button class="app-btn pointer"><ion-icon name="add"></ion-icon></button>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label">Classe de numéro de compte<span class="red-star">*</span></label>
            <ion-item class="select-input">
                <ion-select placeholder="Séléctionner numéro de compte">
                    <ion-select-option value="1">1 - Capital</ion-select-option>
                    <ion-select-option value="2">2 - Immobilisations</ion-select-option>
                    <ion-select-option value="3">3 - Stocks et en-cours</ion-select-option>
                    <ion-select-option value="4">4 - Comptes de tiers</ion-select-option>
                    <ion-select-option value="5">5 - Comptes financiers</ion-select-option>
                    <ion-select-option value="6">6 - Comptes de charges</ion-select-option>
                    <ion-select-option value="7">7 - Comptes de produit</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label">Numéro de compte de l'article<span class="red-star">*</span></label>
            <ion-item class="select-input">
                <ion-select placeholder="Séléctionner numéro de compte">
                    <ion-select-option value="3">609100 - Achats de matières premières</ion-select-option>
                    <ion-select-option value="2">607000 - Achats de marchandises (achat pour revente)</ion-select-option>
                    <ion-select-option value="1">609100 - Achats de matières premières</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label">Projet</label>
            <ion-item class="select-input">
                <ion-select placeholder="Séléctionner un projet">
                    <ion-select-option value="3">Projet 1</ion-select-option>
                    <ion-select-option value="2">Projet 2</ion-select-option>
                    <ion-select-option value="1">Projet 3</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col size='12' class="start">
            <label class="input-label">Document</label>
            <!-- <div class="picture-div"></div> -->
        </ion-col>
        <ion-col size='6' class="start mb-2">
            <button class="app-btn pointer"><ion-icon name="camera"></ion-icon>&nbsp;&nbsp;Photo</button>
        </ion-col>
        <ion-col size='6' class="start mb-2">
            <button class="app-btn pointer"><ion-icon name="link"></ion-icon>&nbsp;&nbsp;Document</button>
        </ion-col>
        <ion-col size='12' class="start mb-3">
            <label class="input-label">Description de la dépense</label>
            <textarea type="text" id="description" class="textarea-without-icon" placeholder='Description de la note de frais'></textarea>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <button class="app-btn pointer"><ion-icon name="add"></ion-icon>&nbsp;&nbsp;Créer une note de frais</button>
        </ion-col>
    </ion-row>
</ion-grid>