<ion-content class="background-div">
    <div class="background-div-rounded">
        <div class="back-arrow-absolute center">
            <ion-row class="w-100">
                <ion-col size='2' class="center">
                    <ion-icon name="chevron-back-outline" class="app-icon pointer" (click)="nagivateBack()"></ion-icon>
                </ion-col>
                <ion-col size='8'>
                    <h2 class="header-title text-center hide-overflow">Informations</h2>
                </ion-col>
                <ion-col size='2' class="end">
                </ion-col>
            </ion-row>
        </div>
        <div class="input-div-profile center">
            <div class="w-85 text-center pt-5">
                <div class="mbottom-2 center">
                    <input type="text" id="nom" class="input-with-icon" placeholder='Nom'>
                    <ion-icon name="person-outline" class="input-icon"></ion-icon>
                </div>
                <div class="mbottom-2 center">
                    <input type="text" id="prenom" class="input-with-icon" placeholder='Prénom'>
                    <ion-icon name="person-outline" class="input-icon"></ion-icon>
                </div>
                <div class="mbottom-2 center">
                    <input type="email" id="email" class="input-with-icon" placeholder='Email'>
                    <ion-icon name="mail-outline" class="input-icon"></ion-icon>
                </div>
                <div class="mbottom-2 center">
                    <input type="text" id="date-naiss" class="input-with-icon" placeholder='Date de naissance'>
                    <ion-icon name="calendar-outline" class="input-icon"></ion-icon>
                </div>
                <div class="mbottom-2 center">
                    <input type="text" id="phone" class="input-with-icon" placeholder='Téléphone'>
                    <ion-icon name="call-outline" class="input-icon"></ion-icon>
                </div>
                <div class="center">
                    <button class="app-btn-auth pointer" (click)="navigateTo('/tabs/tab5')">Valider</button>
                </div>
            </div>
        </div>
    </div>
</ion-content>