<ion-content class="background-div">
    <div class="background-div-rounded">
        <div class="back-arrow-absolute center">
            <ion-row class="w-100">
                <ion-col size='2' class="center">
                    <ion-icon name="chevron-back-outline" class="app-icon pointer" (click)="nagivateBack()"></ion-icon>
                </ion-col>
                <ion-col size='8'>
                    <h2 class="header-title text-center hide-overflow">Informations</h2>
                </ion-col>
                <ion-col size='2' class="end">
                </ion-col>
            </ion-row>
        </div>
        <div class="input-div-profile center">
            <ion-grid>
                <ion-row>
                    <ion-col size='12' class="start mb-2">
                        <div class="avatar-grid center">
                            <div class="circle-avatar"></div>
                        </div>
                    </ion-col>
                    <ion-col size='12' class="start mb-4">
                        <button class="app-btn pointer"><ion-icon name="camera"></ion-icon>&nbsp;&nbsp;Appareil Photo</button>
                    </ion-col>
                    <ion-col size='12' class="start mb-2">
                        <label class="input-label">Nom et Prénom<span class="red-star">*</span></label>
                        <input type="text" id="name" class="input-with-icon" placeholder='Nom complet'>
                        <ion-icon name="person-outline" class="input-icon-with-label"></ion-icon>
                    </ion-col>
                    <ion-col size='12' class="start mb-2">
                        <label class="input-label">Email<span class="red-star">*</span></label>
                        <input type="email" id="email" class="input-with-icon" placeholder='Email'>
                        <ion-icon name="mail-outline" class="input-icon-with-label"></ion-icon>
                    </ion-col>
                    <ion-col size='12' class="start mb-2">
                        <label class="input-label">Téléphone<span class="red-star">*</span></label>
                        <input type="tel" id="phone" class="input-with-icon" placeholder='Téléphone'>
                        <ion-icon name="call-outline" class="input-icon-with-label"></ion-icon>
                    </ion-col>
                    <ion-col size='12' class="start mb-4">
                        <label class="input-label">Date de naissance<span class="red-star">*</span></label>
                        <input type="text" id="dateNaiss" class="input-with-icon" placeholder='Date de naissance'>
                        <ion-icon name="calendar-outline" class="input-icon-with-label"></ion-icon>
                    </ion-col>
                    <ion-col size='12' class="start mb-2">

                        <button class="app-btn pointer" (click)="navigateTo('/tabs/tab5')">Modifier</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>