.avatar-profile {
    width: 160px;
    height: 160px;
    position: absolute;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 3%;
    text-align: center;
    // border: 1px solid #00000040;
    box-shadow: 0px 3px 5px #00000030;
    background-image: url(./../../../assets/img/avatar-icon.jpg);
    background-size: cover;
    background-position: center;
}

.name-profile {
    margin-top: 6rem;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-3);
}

p {
    margin: 0;
}

.scroll-list {
    height: 36.5vh;
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    ion-list {
        padding: 0;
        background: white;
        .app-card {
            background: white;
        }
    }
}

.app-btn-auth {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    ion-icon {
        width: 20px;
        height: 20px;
    }
}