<ion-content class="background-div">
    <div class="background-div-rounded">
        <div class="avatar-profile"></div>
        <div class="back-arrow-absolute center">
            <ion-row class="w-100">
                <ion-col size='2' class="center">
                    <ion-icon name="chevron-back-outline" class="app-icon pointer" (click)="nagivateBack()"></ion-icon>
                </ion-col>
                <ion-col size='8'>
                </ion-col>
                <ion-col size='2' class="end">
                </ion-col>
            </ion-row>
        </div>
        <ion-grid>
            <ion-row>
                <ion-col size='12' class="center name-profile">
                    <p>Pierre Jacques</p>
                </ion-col>
                <ion-col size='12' class="center">
                    <p>pierrejacques@gmail.com</p>
                </ion-col>
                <ion-col size='12' class="center">
                    <p>51 Avenue de Paris, Paris, 75015</p>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col size='6' class="center">
                    <button class="app-btn pointer"><ion-icon name="call"></ion-icon>&nbsp;&nbsp;Appeler</button>
                </ion-col>
                <ion-col size='6' class="center">
                    <button class="app-btn pointer" (click)="navigateTo('/messages')"><ion-icon name="chatbox" style="padding-top:2px"></ion-icon>&nbsp;&nbsp;Message</button>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-content class="scroll-list">
            <ion-list>
                <ion-card class="app-card">
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col size='7'>
                                    <h2 class="card-title hide-overflow">DEV1458697456</h2>
                                    <p class="card-text-client hide-overflow">Jacques Pierre</p>
                                    <p class="card-text-date hide-overflow">Fin: 06/12/2021</p>
                                </ion-col>
                                <ion-col size='3'>
                                    <h2 class="card-title hide-overflow">&nbsp;</h2>
                                    <p class="card-text-rest">3,578 €</p>
                                    <p class="card-text-time">&nbsp;</p>
                                </ion-col>
                                <ion-col size='2' class="center">
                                    <div class="status-div-danger"></div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
                <ion-card class="app-card">
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col size='7'>
                                    <h2 class="card-title hide-overflow">FAC1458697456</h2>
                                    <p class="card-text-client hide-overflow">Jacques Pierre</p>
                                    <p class="card-text-date hide-overflow">Fin: 06/12/2021</p>
                                </ion-col>
                                <ion-col size='3'>
                                    <h2 class="card-title hide-overflow">&nbsp;</h2>
                                    <p class="card-text-rest">3,578 €</p>
                                    <p class="card-text-time">&nbsp;</p>
                                </ion-col>
                                <ion-col size='2' class="center">
                                    <div class="status-div-warning"></div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
                <ion-card class="app-card">
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col size='7'>
                                    <h2 class="card-title hide-overflow">FAC1458697456</h2>
                                    <p class="card-text-client hide-overflow">Jacques Pierre</p>
                                    <p class="card-text-date hide-overflow">Fin: 12/12/2021</p>
                                </ion-col>
                                <ion-col size='3'>
                                    <h2 class="card-title hide-overflow">&nbsp;</h2>
                                    <p class="card-text-rest">0 €</p>
                                    <p class="card-text-time">&nbsp;</p>
                                </ion-col>
                                <ion-col size='2' class="center">
                                    <div class="status-div-success"></div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
                <ion-card class="app-card">
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col size='7'>
                                    <h2 class="card-title hide-overflow">DEV1458697456</h2>
                                    <p class="card-text-client hide-overflow">Jacques Pierre</p>
                                    <p class="card-text-date hide-overflow">Fin: 06/12/2021</p>
                                </ion-col>
                                <ion-col size='3'>
                                    <h2 class="card-title hide-overflow">&nbsp;</h2>
                                    <p class="card-text-rest">3,578 €</p>
                                    <p class="card-text-time">&nbsp;</p>
                                </ion-col>
                                <ion-col size='2' class="center">
                                    <div class="status-div-danger"></div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
                <ion-card class="app-card">
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col size='7'>
                                    <h2 class="card-title hide-overflow">DEV1458697456</h2>
                                    <p class="card-text-client hide-overflow">Jacques Pierre</p>
                                    <p class="card-text-date hide-overflow">Fin: 06/12/2021</p>
                                </ion-col>
                                <ion-col size='3'>
                                    <h2 class="card-title hide-overflow">&nbsp;</h2>
                                    <p class="card-text-rest">3,578 €</p>
                                    <p class="card-text-time">&nbsp;</p>
                                </ion-col>
                                <ion-col size='2' class="center">
                                    <div class="status-div-warning"></div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
                <ion-card class="app-card">
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col size='7'>
                                    <h2 class="card-title hide-overflow">FAC1458697456</h2>
                                    <p class="card-text-client hide-overflow">Jacques Pierre</p>
                                    <p class="card-text-date hide-overflow">Fin: 12/12/2021</p>
                                </ion-col>
                                <ion-col size='3'>
                                    <h2 class="card-title hide-overflow">&nbsp;</h2>
                                    <p class="card-text-rest">12,578 €</p>
                                    <p class="card-text-time">&nbsp; </p>
                                </ion-col>
                                <ion-col size='2' class="center">
                                    <div class="status-div-success"></div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-list>
        </ion-content>
    </div>
</ion-content>