.bill-title {
    p {
        font-size: 22px;
        font-weight: 600;
        color: var(--color-3);
    }
}

p {
    margin: 0;
}

.edit-icon {
    width: 20px;
    height: 20px;
}

ion-item {
    border: 1px solid #00000040;
    --border-width: 0;
    border-radius: 10px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    --background: white;
    box-shadow: 1px 3px 4px #0000000a;
    ion-select {
        padding: 0;
        width: 100%;
        --placeholder-opacity: 1;
        --placeholder-color: #757575;
        .select-placeholder {
            --color: black;
            --opacity: 1;
            color: black;
            opacity: 1;
        }
    }
}

.picture-div {
    width: 100%;
    height: calc(100vw - 20px);
    border: 1px solid #00000040;
    border-radius: 10px;
    background-image: url(https://cdn.radiofrance.fr/s3/cruiser-production/2019/11/fa253aaa-5850-4994-8adc-c64e51cef212/870x489_maxstockworld308713.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}