.picture-div {
    width: 100%;
    height: calc(100vw - 20px);
    border: 1px solid #00000040;
    border-radius: 10px;
    background-image: url(https://cdn.radiofrance.fr/s3/cruiser-production/2019/11/fa253aaa-5850-4994-8adc-c64e51cef212/870x489_maxstockworld308713.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.edit-icon {
    width: 24px;
    height: 24px;
}