<ion-content class="background-div">
    <div class="background-div-rounded">
        <div class="back-arrow-absolute center">
            <ion-row class="w-100">
                <ion-col size='2' class="center">
                    <ion-icon name="chevron-back-outline" class="app-icon pointer" (click)="nagivateBack()"></ion-icon>
                </ion-col>
                <ion-col size='8'>
                    <h2 class="header-title text-center hide-overflow">Note de frais</h2>
                </ion-col>
                <ion-col size='2' class="end">
                </ion-col>
            </ion-row>
        </div>
        <ion-grid>
            <ion-row>
                <ion-col size='2'>
                </ion-col>
                <ion-col size='8' class="center bill-title">
                    <p>EXP1458697456</p>
                    <span class="badge status-green">Acceptée</span>
                </ion-col>
                <ion-col size='2' class="center mb-3">
                    <ion-icon src="assets/icon/edit.svg" class="app-icon edit-icon pointer"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col size='12' class="center mb-2">
                    <input type="text" id="employe" class="input-with-icon" placeholder='Employé'>
                    <ion-icon name="person-outline" class="input-icon"></ion-icon>
                </ion-col>
                <ion-col size='12' class="center mb-2">
                    <input type="email" id="email" class="input-with-icon" placeholder='Email'>
                    <ion-icon name="mail-outline" class="input-icon"></ion-icon>
                </ion-col>
                <ion-col size='5' class="center mb-2">
                    <input type="email" id="email" class="input-with-icon" placeholder='Prix'>
                    <ion-icon src="assets/icon/money.svg" class="input-icon"></ion-icon>
                </ion-col>
                <ion-col size='7' class="center mb-2">
                    <ion-item>
                        <ion-select placeholder="Type">
                            <ion-select-option value="3">Restaurant</ion-select-option>
                            <ion-select-option value="2">Déplacement</ion-select-option>
                            <ion-select-option value="1">Achats divers</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col size='12' class="center mb-2">
                    <div class="picture-div">
                    </div>
                </ion-col>
                <ion-col size='12' class="center mb-3">
                    <textarea type="text" id="description" class="textarea-without-icon" placeholder='Description de la note'></textarea>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>