<ion-content>
    <div class="logo-div">
        <img src="./../../../assets/img/logo.PNG" alt="">
    </div>
    <div class="form-div">
        <h1 class="title-auth">Mot de passe oublié</h1>
        <p class="text-auth">Entrez votre email pour recevoir un lien pour réinitialiser votre mot de passe.</p>
        <div class="center input-auth">
            <input type="email" id="email" class="input-with-icon" placeholder='Email'>
        </div>
        <div class="mb-5 center">
            <button class="app-btn-auth pointer" (click)="nagivateTo('/auth/login')">Récupération</button>
        </div>
        <div class="center">
            <span class="password-lost-text pointer" (click)="nagivateTo('/auth/login')">Retour à la connexion</span>
        </div>
    </div>
</ion-content>