<ion-grid>
    <ion-row>
        <ion-col size='3' class="center mb-2">
            <div class="separate-div"></div>
        </ion-col>
        <ion-col size='6' class="center mb-2">
            <p class="separate-text">Informations</p>
        </ion-col>
        <ion-col size='3' class="center mb-2">
            <div class="separate-div"></div>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label">Nom et Prénom<span class="red-star">*</span></label>
            <input type="text" id="name" class="input-with-icon" placeholder='Nom du client/entreprise'>
            <ion-icon name="person-outline" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label">Email<span class="red-star">*</span></label>
            <input type="email" id="email" class="input-with-icon" placeholder='Email'>
            <ion-icon name="mail-outline" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label">Téléphone<span class="red-star">*</span></label>
            <input type="tel" id="phone" class="input-with-icon" placeholder='Téléphone'>
            <ion-icon name="call-outline" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label">Mot de passe</label>
            <input type="password" id="password" class="input-with-icon" placeholder='Mot de passe'>
            <ion-icon name="lock-closed-outline" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label">Confirmer le mot de passe</label>
            <input type="password" id="confirmPassword" class="input-with-icon" placeholder='Confirmer le mot de passe'>
            <ion-icon name="lock-closed-outline" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='12' class="start mb-4">
            <label class="input-label">Rôle</label>
            <ion-item class="select-input">
                <ion-select placeholder="Type">
                    <ion-select-option value="1">Développeur</ion-select-option>
                    <ion-select-option value="2">Designeur</ion-select-option>
                    <ion-select-option value="3">Secrétaire</ion-select-option>
                    <ion-select-option value="4">Commercial</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <button class="app-btn pointer"><ion-icon name="add"></ion-icon>&nbsp;&nbsp;Créer un employé</button>
        </ion-col>
    </ion-row>
</ion-grid>