<ion-grid>
    <ion-row>
        <ion-col size='3' class="center mb-2">
            <div class="separate-div"></div>
        </ion-col>
        <ion-col size='6' class="center mb-2">
            <p class="separate-text">Informations</p>
        </ion-col>
        <ion-col size='3' class="center mb-2">
            <div class="separate-div"></div>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label" for="ref">Ref no<span class="red-star">*</span></label>
            <input type="text" id="ref" class="input-with-icon" placeholder='Ref No' value="FAC64864681368">
            <ion-icon name="information-circle-outline" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='9' class="start mb-2">
            <label class="input-label" for="client">Client<span class="red-star">*</span></label>
            <input type="text" id="client" class="input-with-icon" placeholder='Client'>
            <ion-icon name="person-outline" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='3' class="start mb-2">
            <label class="input-label" for="client">&nbsp;</label>
            <button class="app-btn pointer"><ion-icon name="add"></ion-icon></button>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label" for="dateE">Date d'échéance<span class="red-star">*</span></label>
            <input type="date" id="dateE" class="input-without-icon" placeholder="Date d'échéance">
            <ion-icon name="calendar-outline" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label" for="taxe">Taxe</label>
            <input type="text" id="taxe" class="input-without-icon" placeholder="Taxe">
            <ion-icon src="/assets/icon/percentage.svg" class="input-icon-with-label percent-icon"></ion-icon>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label" for="reduction">Réduction</label>
            <input type="text" id="reduction" class="input-without-icon" placeholder="Réduction">
            <ion-icon src="/assets/icon/percentage.svg" class="input-icon-with-label percent-icon"></ion-icon>
        </ion-col>
        <ion-col size='12' class="start mb-4">
            <label class="input-label" for="currency">Devise<span class="red-star">*</span></label>
            <input type="text" id="currency" class="input-without-icon" placeholder="Devise">
            <ion-icon src="/assets/icon/money.svg" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <button class="app-btn pointer"><ion-icon name="add"></ion-icon>&nbsp;&nbsp;Créer une facture</button>
        </ion-col>
    </ion-row>
</ion-grid>