/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@import "bootstrap";

/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    background: white;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    p {
        margin: 0;
    }
    ion-icon {
        --ionicon-stroke-width: 40px;
    }
}

ion-grid {
    background: white;
}

.header-div {
    margin-top: 2rem;
}

.header-div-snd {
    margin-top: 2rem;
    padding-bottom: 0.7rem;
}

.header-title {
    margin: 0;
    color: var(--color-3);
}

.background-div {
    background-color: #294b70;
    --ion-background-color: #294b70;
}

.background-div-rounded {
    width: 100vw;
    margin-top: 15vh;
    min-height: calc(100vh - 15vh - 63px);
    background-color: white;
    border-radius: 50px 50px 0px 0px;
    box-shadow: 0px 2px 11px #00000090;
    ion-grid {
        background: transparent;
        padding-right: 0.80rem;
        padding-left: 0.80rem;
    }
}

.input-with-icon {
    background: white;
    border: 1px solid #00000040;
    height: 35px;
    width: 100%;
    border-radius: 10px;
    padding: 0 calc(16px + var(--ion-safe-area-left, 0px));
    padding-right: 40px;
    box-shadow: 1px 3px 4px #0000000a;
}

.input-without-icon {
    background: white;
    border: 1px solid #00000040;
    height: 35px;
    width: 100%;
    border-radius: 10px;
    padding: 0 calc(16px + var(--ion-safe-area-left, 0px));
    box-shadow: 1px 3px 4px #0000000a;
}

.textarea-without-icon {
    background: white;
    border: 1px solid #00000040;
    min-height: 150px;
    max-height: 150px;
    width: 100%;
    border-radius: 10px;
    padding: 8px calc(16px + var(--ion-safe-area-left, 0px));
    box-shadow: 1px 3px 4px #0000000a;
}

.textarea-without-icon:focus {
    outline: none;
}

.input-with-icon:focus {
    outline: none;
}

.input-without-icon:focus {
    outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    margin: 0;
    z-index: 999;
    width: 20px;
    margin-right: -5px;
}

.input-icon {
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
    color: var(--color-3);
    fill: var(--color-3);
}

.input-icon-with-label {
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
    color: var(--color-3);
    fill: var(--color-3);
    bottom: 12px;
}

.input-label {
    margin-bottom: 5px;
    padding-left: 2px;
    color: var(--color-3);
    font-size: 16px;
    font-weight: 500;
}

.input-label.toggle {
    font-size: 17px;
}

.red-star {
    font-size: 16px;
    color: red;
    margin-left: 5px;
}

.app-icon {
    width: 30px;
    height: 30px;
    color: var(--color-3);
}

.stat-card {
    border-radius: 10px;
    box-shadow: 0px 3px 5px #00000010;
    border: 1px solid #00000040;
    margin: 0;
    width: 100%;
}

.app-card {
    border-radius: 10px;
    box-shadow: 0px 3px 5px #00000010;
    border: 1px solid #00000040;
    margin: 10px 10px;
    ion-card-content {
        padding: 0;
    }
    .card-title {
        color: var(--color-3);
        font-size: 1.05rem;
        font-weight: 600;
        margin: 0;
        width: 100%;
    }
    .card-text-client {
        color: #2865a2f5;
        font-size: 0.9rem;
        font-weight: 500;
        margin: 0;
        margin-top: 3px;
        width: 100%;
    }
    .card-text-date {
        color: #00000090;
        font-size: 0.8rem;
        margin: 0;
        margin-top: 3px;
        width: 100%;
    }
    .card-text-time {
        text-align: center;
        color: #00000090;
        font-size: 0.8rem;
        margin: 0;
        margin-top: 3px;
        width: 100%;
    }
    .card-text-profit {
        text-align: center;
        color: #54ad63;
        font-size: 0.9rem;
        font-weight: 600;
        margin: 0;
        margin-top: 3px;
        width: 100%;
    }
    .card-text-rest {
        text-align: center;
        color: black;
        font-size: 0.9rem;
        font-weight: 500;
        margin: 0;
        margin-top: 3px;
        width: 100%;
    }
    .card-text-loss {
        text-align: center;
        color: #EE1414;
        font-size: 0.9rem;
        font-weight: 600;
        margin: 0;
        margin-top: 3px;
        width: 100%;
    }
}

.status-div-danger {
    width: 28px;
    height: 28px;
    border: 1px solid #00000040;
    border-radius: 50%;
    background-color: #F20C0C;
}

.status-div-warning {
    width: 28px;
    height: 28px;
    border: 1px solid #00000040;
    border-radius: 50%;
    background-color: #FF8800;
}

.status-div-success {
    width: 30px;
    height: 30px;
    border: 1px solid #00000040;
    border-radius: 50%;
    background-color: #009E0F;
}

.app-btn-auth {
    width: 80%;
    background-color: var(--color-3);
    color: white;
    border-radius: 10px;
    height: 35px;
    font-size: 1.085rem;
    font-weight: 400;
    box-shadow: 1px 3px 4px #0000000a;
}

.app-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-3);
    color: white;
    border-radius: 10px;
    height: 35px;
    font-size: 1.085rem;
    font-weight: 400;
    box-shadow: 1px 3px 4px #0000000a;
}

.app-btn-delete {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F20C0C;
    color: white;
    border-radius: 10px;
    height: 35px;
    font-size: 1.085rem;
    font-weight: 400;
    box-shadow: 1px 3px 4px #0000000a;
}

.title-auth {
    margin: 2.5rem 0rem 0rem 0rem;
    text-align: center;
    color: var(--color-3);
    font-weight: 600;
}

.text-auth {
    margin: 2rem 0rem;
    text-align: center;
    font-size: 15px;
    color: black;
    font-weight: 400;
}

.alert-head.sc-ion-alert-md {
    padding: 0;
    padding-top: 10px;
}

.alert-button-group.sc-ion-alert-md {
    padding: 0;
    padding-bottom: 10px;
}

.alert-radio-label.sc-ion-alert-md {
    color: black !important;
    border: none;
}

.alert-radio-group.sc-ion-alert-md,
.alert-checkbox-group.sc-ion-alert-md {
    border: none;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.around {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.pointer {
    cursor: pointer;
}

.hide-overflow {
    white-space: nowrap;
    white-space: -moz-pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.w-85 {
    width: 85%;
}

.back-arrow-absolute {
    position: absolute;
    top: 2.5rem;
    left: 0;
    width: 100%;
    .header-title {
        color: white;
    }
    ion-icon {
        color: white;
    }
}

.back-arrow-div {
    padding-top: 2rem;
    margin-bottom: 1rem;
    left: 0;
    width: 100%;
    .header-title {
        color: var(--color-3);
    }
    ion-icon {
        color: var(--color-3);
    }
}

.input-div-profile {
    min-height: calc(100vh - 15vh - 63px);
    width: 100%;
    // padding-top: 2rem;
}

.status-green {
    background-color: #54ad63;
}

.badge {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.25em 0.4em;
    font-weight: 500;
    font-size: unset;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.edit-icon {
    width: 26px;
    height: 26px;
}

.trash-icon {
    width: 24px;
    height: 24px;
    color: red;
}

.percent-icon {
    width: 15px;
    height: 15px;
    bottom: 15px;
}

.create-title {
    p {
        margin: 0;
        font-size: 22px;
        font-weight: 600;
        color: var(--color-3);
    }
}

.separate-div {
    background-color: var(--color-3);
    height: 4px;
    width: 100%;
    border-radius: 10px;
}

.ligth-separate-div {
    background-color: #2865a26e;
    height: 1px;
    width: 100%;
    border-radius: 10px;
}

.separate-text {
    color: var(--color-3);
    font-size: 20px;
}

ion-item.select-input {
    border: 1px solid #00000040;
    --border-width: 0;
    border-radius: 10px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    --background: white;
    box-shadow: 1px 3px 4px #0000000a;
    ion-select {
        padding: 0;
        width: 100%;
        --placeholder-opacity: 1;
        --placeholder-color: #757575;
        .select-placeholder {
            --color: black;
            --opacity: 1;
            color: black;
            opacity: 1;
        }
    }
}

.bill-title {
    margin-top: 0.25rem;
    p {
        font-size: 22px;
        font-weight: 600;
        color: var(--color-3);
        text-align: center;
        width: 100%;
    }
}

.progress-input {
    width: 100%;
    ion-label {
        font-size: 16px;
    }
    ion-range {
        padding: 0;
    }
}

.explain-text {
    color: var(--color-3);
}

.pb-4 {
    padding-bottom: 2rem !important;
}

.stat-green {
    font-size: 17px;
    color: #009E0F;
    font-weight: 600;
}

.stat-red {
    font-size: 17px;
    color: #F20C0C;
    font-weight: 600;
}

.btn-red {
    background-color: #F20C0C;
}

.btn-green {
    background-color: #009E0F;
}