<ion-grid>
    <ion-row>
        <ion-col size='3' class="center mb-2">
            <div class="separate-div"></div>
        </ion-col>
        <ion-col size='6' class="center mb-2">
            <p class="separate-text">Informations</p>
        </ion-col>
        <ion-col size='3' class="center mb-2">
            <div class="separate-div"></div>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label">Nom de l'article<span class="red-star">*</span></label>
            <input type="text" id="articleName" class="input-with-icon" placeholder="Nom de l'article">
            <ion-icon name="cart-outline" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label">Classe de numéro de compte<span class="red-star">*</span></label>
            <ion-item class="select-input">
                <ion-select placeholder="Séléctionner numéro de compte">
                    <ion-select-option value="1">1 - Capital</ion-select-option>
                    <ion-select-option value="2">2 - Immobilisations</ion-select-option>
                    <ion-select-option value="3">3 - Stocks et en-cours</ion-select-option>
                    <ion-select-option value="4">4 - Comptes de tiers</ion-select-option>
                    <ion-select-option value="5">5 - Comptes financiers</ion-select-option>
                    <ion-select-option value="6">6 - Comptes de charges</ion-select-option>
                    <ion-select-option value="7">7 - Comptes de produit</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label">Numéro de compte de l'article<span class="red-star">*</span></label>
            <ion-item class="select-input">
                <ion-select placeholder="Séléctionner numéro de compte">
                    <ion-select-option value="3">609100 - Achats de matières premières</ion-select-option>
                    <ion-select-option value="2">607000 - Achats de marchandises (achat pour revente)</ion-select-option>
                    <ion-select-option value="1">609100 - Achats de matières premières</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label">Prix<span class="red-star">*</span></label>
            <input type="text" id="price" class="input-with-icon" placeholder='Prix'>
            <ion-icon src="/assets/icon/money.svg" class="input-icon-with-label"></ion-icon>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <label class="input-label">TVA<span class="red-star">*</span></label>
            <input type="text" id="tva" class="input-without-icon" placeholder="TVA">
            <ion-icon src="/assets/icon/percentage.svg" class="input-icon-with-label percent-icon"></ion-icon>
        </ion-col>
        <ion-col size='12' class="start mb-4">
            <label class="input-label">Description<span class="red-star">*</span></label>
            <textarea type="text" id="description" class="textarea-without-icon" placeholder="Description de l'article"></textarea>
        </ion-col>
        <ion-col size='12' class="start mb-2">
            <button class="app-btn pointer"><ion-icon name="add"></ion-icon>&nbsp;&nbsp;Créer un article</button>
        </ion-col>
    </ion-row>
</ion-grid>